:root {
  /** The primary color palette is used across all the interactive
    *  elements such as CTA's, links, inputs, active states etc.
    * */
  --primary-clr-main: #684fff;

  /**
    * The secondary color palette is used alongside the primary to
    * indicate to the user it's the secondary focus.
    */
  --secondary-clr-main: #c245eb;

  /**
    * The secondary2 color palette is used in CTA_buttons, interactive
    * icons
    */
  --secondary2-clr-main: #34c5bf;

  /**
  *The secondary color3 palette is used for interactive texts
  */
  --secondary3-clr-main: #ffbf00;

  /**
    * These colors are used as supporting secondary colors in:
    * backgrounds, text colors, separators etc.
    */
  --neutral-clr-0: #ffffff;
  --neutral-clr-50: #f6f6f6;
  --neutral-clr-100: #e6e6e6;
  --neutral-clr-200: #b2b2b2;
  --neutral-clr-300: #cbcbcb;
  --neutral-clr-400: #909090;
  --neutral-clr-500: #797979;
  --neutral-clr-600: #636363;
  --neutral-clr-700: #484848;
  --neutral-clr-800: #333333;
  --neutral-clr-900: #181818;

  /**
    * These colors indicate an emotion of negativity.
    * Generally used across error states.
  */
  --error-clr-50: #fff4f0;
  --error-clr-200: #ffe5db;
  --error-clr-300: #ff7a7b;
  --error-clr-main: #ff0000;
  --error-clr-800: #c00707;

  /**
    *The font weight is used to give font boldness:
    */
  --font-weight-extra-bold: 900;
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;
}

body {
  font-family: "Museo Sans Rounded", sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0px;
  color: var(--neutral-clr-700);
  font-weight: var(--font-weight-extra-bold);
}

h2 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: var(--neutral-clr-700);
  font-weight: var(--font-weight-extra-bold);
}

h3 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0px;
  color: var(--neutral-clr-700);
  font-weight: var(--font-weight-extra-bold);
}
